server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:

  # For local logs
  - job_name: local-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: local
          __path__: /var/log/*log

  # AWS S3 logs, Azure logs, GCP logs will be added later (Stage 5.2, 5.3, 5.4)
